<div class="page-content index-content">
    <p class="index-title">Opérations marketing :</p>
    <a href="/scrap" class="index-link">1.1. Scrapper l'annuaire des référents PEPITE de Bretagne-Loire</a>
    <a href="/mailer" class="index-link">1.2. Mailer la landing page 1 à ces référents</a>
    <a href="/twitter" class="index-link">2. Poster la landing page 2 sur Twitter</a>
    </br>
    <p class="index-title">Landing pages :</p>
    <a href="/landing1" class="index-link">1. Accompagnateurs PEPITE</a>
    <a href="/landing2" class="index-link">2. Etudiants en informatique</a>
    <a href="/landing3" class="index-link">3. Start-ups de Bordeau</a>
    </br>
    <p class="index-title">Et après ?</p>
    <a href="https://analytics.google.com/analytics/web/?authuser=0#/report-home/a124104266w182485923p180167732" class="index-link">Google analytics (thpforpresident@gmail.com chadebec)</a>
    <a href="/newsletter" class="index-link">Envoyer la newsletter à tous les abonnés</a>
</div>